*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.vip{
    width:1320px;
    font-family: 'Times New Roman', Times, serif;
}
header{
    width: 1320px;
}
header img{
    width: 1320px;
    height: 100px;
}
nav{
    display: flex;
    width: 100%;
}
div nav .far{
    width: 100%;
    display:flex ;
    list-style: none;
    margin: 20px 200px;
}
nav ul li{
    display:block;
    background-color: #00A69B;
    width: fit-content;
    padding:5px;
    line-height: 30px;
    position: relative;
    padding: 10px 20px;
    font-weight: bold;
}
nav ul li a {
    text-decoration: none;
    color:red;
}
nav ul li ul{
    position: absolute;
    display:none;
    top:100%;
    left:0;
}
nav ul li ul li{
    width:200px;
}
nav ul li:hover{
    background-color: #5F5C5C;
}
nav ul li:hover ul{
    display: block;
}
section{
    display: flex;
}
section .bookshelf{
    width: 20%;
    padding:20px;
}
section .bookshelf ul {
    display: inline-block;
    margin-left: 30px;
    line-height: 30px;
}
section .content{
    width: 80%;
}
section .content .bonsai{
    display: flex;
}
section .content .tree{
    display: flex;
}
section img{
    width:250px;
    height: 200px;
}
.bonsai_content{
    margin-left: 20px;
}
.tree_content{
    margin-left: 20px;
}
footer{
    color: white;
    background-color: black;
    text-align: center;
}